<?xml version="1.0"?>
<!-- 
/**
* @category   SquidFacil
* @package    SquidFacil_Import
* @author     ModuleCreator
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <SquidFacil_Import>
            <version>0.1.1</version>
        </SquidFacil_Import>
    </modules>
    <frontend>
        <routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>SquidFacil_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
            <updates>
                <import>
                    <file>squidfacil.xml</file>
                </import>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <import>
                <use>admin</use>
                <args>
                    <module>SquidFacil_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <import module="import">
                <title>Squid Fácil</title>
                <sort_order>99999</sort_order>               
                <children>
                    <listProduct module="import">
                        <title>List Products</title>
                        <sort_order>0</sort_order>
                        <action>import/adminhtml_list</action>
                    </listProduct>
                    <listOrder module="sales" >
                        <title>List orders</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/sales_order</action>
                    </listOrder>
                    <config module="import">
                        <title>Settings</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/squidfacil</action>
                    </config>
                </children>
            </import>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <SquidFacil_Import>
                            <title>Import Module</title>
                            <sort_order>10</sort_order>
                        </SquidFacil_Import>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <squidfacil>
                                            <title>All</title>
                                        </squidfacil>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <import>
                    <file>squidfacil.xml</file>
                </import>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <import>
                <class>SquidFacil_Import_Model</class>
                <resourceModel></resourceModel>
            </import>
            <shipping>
                <rewrite>
                    <shipping>SquidFacil_Shipping_Model_Shipping</shipping>
                </rewrite>
            </shipping>
            <sales>
                <rewrite>
                    <quote_address_rate>SquidFacil_Shipping_Model_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
        </models>
        <resources>
            <import_setup>
                <setup>
                    <module>SquidFacil_Import</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </import_setup>
            <import_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </import_write>
            <import_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </import_read>
        </resources>
        <blocks>
            <import>
                <class>SquidFacil_Import_Block</class>
            </import>
        </blocks>
        <helpers>
            <import>
                <class>SquidFacil_Import_Helper</class>
            </import>
        </helpers>
    </global>
</config>
