<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <squidfacil translate="label" module="import">
            <label>Squid Fácil</label>
            <sort_order>100</sort_order>
        </squidfacil>
    </tabs>
    <sections>
        <squidfacil translate="label" module="import">
            <label>Settings</label>
            <tab>squidfacil</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <squidfacil_group translate="label" module="import">
                    <label>Squid Fácil Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <squidfacil_email translate="label">
                            <label>Email address: </label>
                            <comment>Fill with your Squid Fácil registered email</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </squidfacil_email>
                        <squidfacil_token translate="label">
                            <label>Token: </label>
                            <comment>Fill with your Squid Fácil Token</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </squidfacil_token>
                        <squidfacil_text>
                            <label>Notify Url: </label>
                            <comment>
                                http://www.yourstore.com/notification
                            </comment>
                            <frontend_type>note</frontend_type>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </squidfacil_text>
                    </fields>
                </squidfacil_group>
            </groups>
        </squidfacil>
       
    </sections>
</config>